
@import './helpers';

#introduction{
  position: relative;
}

.title-container{
  position: relative;
  width: 100%;
  max-width: 532px;
  margin: 152px 0 0 164px;
  opacity: 0;
}

.start-copy-container{
  position: relative;
  width: 468px;
  margin: 51px 0 0 162px;
}

.five-diamond-container{
  position: relative;
  display: block;
  margin: 32px 0 0 154px;
  // width: 64.5%;
  width: 77.7%;
  svg{
    width: 100%;
  }
}

.five-container{
  width: 76.2%;
}

.diamond-container{
  position: absolute;
  top: 22%;
  // right: -25%;
  left: 64.3%;
  // width: 47.5%;
  width: 39.5%;
  // width: 588px;
  // max-width: 30.6%;
}

.five-container-mobile{
  display: none;
}

@media (max-width: 1919px) {
  .five-diamond-container{
    width: 89%;
  }
  .diamond-container{
    left: 64%;
  }
}


@media (max-width: 1594px) {
  .five-diamond-container{
    width: 87%;
    margin-top: 16px;
  }
  .start-copy-container{
    margin-top: 24px;
  }
}

@media (max-width: 1280px) {
  .five-diamond-container{
    width: 90%;
    margin-left: 66px;
  }
  .start-copy-container{
    margin-left: 66px;
  }
  .title-container{
    margin-left: 76px;
  }
}

@media (max-width: 1024px) {

  .title-container{
    margin-left: 76px;
  }
  .five-diamond-container{
    margin-left: 66px;
    margin-top: 0;
    width: 90%;
  }
  .five-container{
    width: 100%;
  }
  .start-copy-container{
    margin-left: 66px;
    margin-top: 0;
  }
  .diamond-container{
    left: -5%;
    top: 120%;
    width: 50%;
  }
}

@media (max-width: 768px) {
 
  .title-container{
    margin: 146px auto 0 auto;
    width: 72%;
  }

  .five-container-mobile{
    display: block;
    position: relative;
    max-width: 90%;
    margin: auto;
    padding-top: 18px;
    svg{
      width: 100%;
    }
  }

  .five-container{
    display: none;
  }

  .five-diamond-container{
    width: 100%;
    margin: 0;
    padding-top: 20px;
  }

  .diamond-container{
    width: 76%;
    left: 12%;
    margin-top: 16px;
  }

  .start-copy-container{
    margin: auto;
    padding-top: 3px;
    width: 90%;
  }

  .introduction{
    margin-bottom: 217px;
  }
  .intro-text{
    width: 93% !important;
    padding-top: 200px;
  }

}


.introduction-text{
  position: relative;
  margin: 632px 0 446px 0;
}

.intro-text{
  position: relative;
  margin: auto;
  max-width: 520px;
}


@media(max-width: 480px){
  .diamond-container{
    margin-top: 60px;
  }
  .intro-text{
    padding-top: 34px !important;
  }
  .introduction-text{
    margin-bottom: 218px;
  }
}
